# Ignore all raw datasets
data/raw/**

# Keep folder structure
!data/raw/.gitkeep

# Ignore processed datasets
data/processed/**

# Keep folder structure
!data/processed/.gitkeep

__pycache__/
*.py[cod]

.env

.DS_Store
Thumbs.db